input[type=text]{
  width: 100px;
  display: block;
  margin: 20px;
  background-color: #DFFFDF;
  color: gray;
}
input[type=button]{
  width: 70px;
  background-color: black;
  color: yellow;
}
body{
  background-color: aliceblue;
}
p{
  margin: 20px;
  color: darkslategrey;
}
.demo{
  color:gray;
}/*(3) 網頁中使用了 5 種不同的 CSS 語法所設計的特效，相關語法敘述皆須置於名稱為 "mystyle.css" 的檔案中 (10%)*/